{% extends 'index.html' %}
{% block content %}
<div>

</div>
<p style="width: 100%;text-align: center;color: white;font-weight: lighter;font-size: 1.3rem;" >Here are Recommendations for {{movie_name}}</p>
<div class="container-1">
    {%for i in range(length)%}
    <div class="movies-list">
        <div id=poster>
            <img id="imgs" src="https://image.tmdb.org/t/p/w500{{rec_im[i]}}" alt="">
        </div>
        <span id="titles">{{rec_name[i]}}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}